<ng-container *ngIf="groups$ | async as groups">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Your groups</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item
          [routerLink]="['/group', group.id]"
          *ngFor="let group of groups"
          style="cursor: pointer"
        >
          <div matRipple style="display: flex">
            <mat-icon mat-list-icon>group</mat-icon>
            <h4 style="margin: 0 0 0 5px">{{ group.name }}</h4>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-container>
