<ng-container *ngIf="user$ | async as user">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Your wishlist</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="wishListForm">
        <ng-container formArrayName="items">
          <ng-container
            *ngFor="
              let item of items.controls;
              let i = index;
              trackBy: trackByFn
            "
          >
            <div>
              <mat-form-field>
                <mat-label>Wishlist item</mat-label>
                <span class="input-align">
                  <input
                    matInput
                    value="{{ item.value.value }}"
                    [formControlName]="i"
                  />
                  <span>{{ item.value.value | json }}</span>
                  <ng-container *ngIf="item.disabled; else disable">
                    <mat-icon (click)="enableForm(i)">lock_open</mat-icon>
                  </ng-container>
                  <ng-template #disable>
                    <mat-icon (click)="disableForm(i)">lock</mat-icon>
                  </ng-template>
                </span>
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
        {{ wishListForm.getRawValue() | json }}
      </div>
      <button mat-raised-button color="warn" (click)="addWishListItem()">
        Add
      </button>
    </mat-card-content>
  </mat-card>
</ng-container>
