<ng-container *ngIf="user$ | async as user">
  <mat-card class="wishlist-card">
    <mat-card-header>
      <mat-card-title>Your wishlist</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="wishListForm">
        <ng-container formArrayName="items">
          <div
            *ngFor="
              let item of items.controls;
              let i = index;
              trackBy: trackByFn
            "
          >
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: baseline;
              "
            >
              <mat-form-field style="width: 100%">
                <mat-label>Wishlist item</mat-label>
                <span>
                  <input
                    matInput
                    value="{{ item.value.value }}"
                    [formControlName]="i"
                  />
                  <span>{{ item.value.value | json }}</span>
                </span>
              </mat-form-field>
              <span style="cursor: pointer; display: flex">
                <ng-container *ngIf="item.disabled; else disable">
                  <mat-icon (click)="enableForm(i)">lock_open</mat-icon>
                </ng-container>
                <ng-template #disable>
                  <mat-icon (click)="disableForm(i)">lock</mat-icon>
                </ng-template>
                <mat-icon (click)="removeWishlistItem(i)">delete</mat-icon>
              </span>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        style="margin-right: 2rem; width: 50%"
        mat-raised-button
        color="warn"
        (click)="addWishListItem()"
      >
        Add</button
      ><button
        style="width: 50%"
        *ngIf="!!(wishListForm.valueChanges | async)"
        mat-raised-button
        color="primary"
        (click)="saveWishList()"
      >
        Save
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <ng-container *ngIf="wishListSaving">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-container>
    </mat-card-footer>
  </mat-card>
</ng-container>
