<div class="container">
  <div style="display: flex; justify-content: center">
    <mat-card style="padding: 1rem; margin: 1rem; width: fit-content">
      <div class="mat-headline-3" style="margin-bottom: 2rem">
        Welcome to Group Up
      </div>
      <p class="mat-h3">
        A website dedicated to creating a group based name picker (think Secret
        Santa) without the need to make an account. No email, no third-party
        auth, no trackers, no BS!
      </p>

      <p class="mat-h3">
        Because we dont use email, there will be no way to recover your account
        if the information gets lost. Please keep track of your username and
        password. If you lose it, you will have to create a new account.
      </p>

      <button
        color="accent"
        mat-raised-button
        type="submit"
        routerLink="/group"
        *ngIf="!!(this.user$ | async)"
      >
        Create a group!
      </button>
    </mat-card>
  </div>

  <ng-container *ngIf="!(this.user$ | async); else signedIn">
    <app-sign-in></app-sign-in>
  </ng-container>

  <ng-template #signedIn>
    <div class="home-container">
      <app-wishlist></app-wishlist>
      <app-group-list></app-group-list>
    </div>
  </ng-template>
</div>
