<mat-card>
  <div class="mat-display-2 font-color-whitesmoke" style="margin-bottom: 2rem">Welcome to GroupUp</div>
  <p class="mat-title font-color-whitesmoke">
    A website dedicated to creating a group based name picker (think Secret Santa)
    without the need to make an account. No email, no third-party auth, no trackers, no BS!
  </p>
  <button mat-raised-button color="primary">nice</button>
</mat-card>

<!--<div class="center">-->
<!--  <form (submit)="handleSubmit()" [formGroup]="loginForm" style="margin-top: 100px; flex-direction: column">-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>Username</mat-label>-->
<!--      <input formControlName="Username" matInput placeholder="Who are you?" required="required">-->
<!--    </mat-form-field>-->
<!--    <button color="primary" mat-raised-button type="submit">Log In</button>-->
<!--  </form>-->
<!--</div>-->

<!--<div class="center" style="margin-top: 100px; flex-direction: column">-->
<!--  <button (click)="signOut()" color="primary" mat-raised-button style="margin-top: 50px">Delete Current User</button>-->
<!--</div>-->
