<mat-toolbar color="primary" style="margin-bottom: 2rem">
  <span>Group Up</span>
  <span style="display: flex; flex-grow: 1"></span>
  <ng-container *ngIf="user as User; else signInForm">
    <span>Hello, {{User.displayName}}!</span>
    <button color="warn" mat-raised-button type="button" (click)="signOut()" style="margin-left: 1rem">Sign out</button>
  </ng-container>
  <ng-template #signInForm>
      <form (submit)="handleSubmit(this.loginForm)" [formGroup]="loginForm" (keydown.enter)="$event.preventDefault()">
        <mat-form-field appearance="standard">
          <mat-label>Username</mat-label>
          <input formControlName="Username" matInput>
        </mat-form-field>
        <button color="accent" mat-raised-button type="submit" style="margin-left: 1rem">Who are you?</button>
      </form>
  </ng-template>
</mat-toolbar>
