<div class="container">
  <h1>Create a group</h1>

  <div [formGroup]="groupForm" (keydown.enter)="$event.preventDefault()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Group Name</mat-label>
        <input
          formControlName="name"
          matInput
          placeholder="Choose a name"
          required="required"
          autocomplete="no"
        />
      </mat-form-field>
    </p>

    <!-- <div formArrayName="users">
      <h2>Add a Group Member</h2>
      <button
        (click)="addUser()"
        type="button"
        color="primary"
        mat-raised-button
      >
        Add Member
      </button>

      <div
        *ngFor="let quantity of users.controls; let i = index"
        [formGroupName]="i"
      >
        <ng-container *ngIf="!quantity.value.hidden">
          <mat-form-field appearance="outline">
            <mat-label>Group Member Name</mat-label>
            <input
              formControlName="displayName"
              matInput
              placeholder="Who are they?"
            />
          </mat-form-field>
          <button (click)="removeUser(i)" color="warn" mat-raised-button>
            Remove
          </button>
        </ng-container>
      </div>
    </div> -->
    <button color="accent" mat-raised-button (click)="onSubmit(groupForm)">
      Submit
    </button>
  </div>

  <br />
  {{ this.groupForm.value | json }}
</div>
